

.dot {
  position: absolute;
  width: 2px;
  height: 2px;
  background: red;
  bottom: 50vh;
  left: 0;
}

.dot.success {
  background: lime;
  width: 4px;
  height: 4px;
}

canvas {
  width: 100vw;
  height: 100vh;
}

#infos {
  background: #002266;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  padding: .5em;
  border-radius: 5px;
  font-size: 12px;
}

#controls {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1em;
  background: #171924;
  font-size: 14px;
  min-width: 200px;
  max-width: 25%;
  height: 100vh;
  overflow: auto;

  #entity-tree {
    border: 1px solid red;
    overflow-y: auto;

    .tree-node {

      display: flex;
      align-items: center;
      padding: .2em .35em;

      &.expanded {
        .toggle-icon svg {
          transform: rotate(180deg);
        }
      }

      &:hover {
        background: rgba(255, 255, 255, .2);
        cursor: pointer;
      }

      .node-sublabel {
        margin-left: .5em;
        font-size: .75em;
        color: grey;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      
    }

  }

  input {
    background: rgba(0, 0, 0, .25);
    outline: none;
    user-select: none;
    border: 1px solid rgba(255, 255, 255, .1);
    padding: .2em .35em;
  }

}

.treeview-node .bi {
  padding: 0.5em;
}

.treeview-node {
  cursor: pointer;
  padding: 0.5em;
}
