

.dot {
  position: absolute;
  width: 2px;
  height: 2px;
  background: red;
  bottom: 50vh;
  left: 0;
}

.dot.success {
  background: lime;
  width: 4px;
  height: 4px;
}

canvas {
  width: 100vw;
  height: 100vh;
}

#infos {
  background: #002266;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  padding: .5em;
  border-radius: 5px;
  font-size: 12px;
}

#controls {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1em;
  background: #171924;
  font-size: 16px;
  min-width: 150px;
  max-width: 20%;
  height: 100vh;

  #entity-tree {
    border: 1px solid red;
  }

  input {
    background: rgba(0, 0, 0, .25);
    outline: none;
    user-select: none;
    border: 1px solid rgba(255, 255, 255, .1);
    padding: .2em .35em;
  }

}