::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

:root {
  --bg: #282b38;
  --primary-color: ;
  --secondary-color: ;
  --info-color: ;
  --warning-color: ;
  --success-color: ;
  --error-color: ;
}

// Accessibility
:root {
  --a13y-resizer-size: 12px;
}



.resize-y {
  cursor: ns-resize;
}
.resize-x {
  cursor: ew-resize;
}

#jeesee-engine {

  background: var(--bg);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  
  .layout-bloc {

    background: #333544;
    box-sizing: border-box;
    resize: both;
    position: absolute;
  }

  .resizable {

    .resizer {

        position: absolute;

        &.resizer-right {
          cursor: ew-resize;
          height: 100%;
          width: var(--a13y-resizer-size);
          top: 0;
          right: 0;
          transform: translateX(calc(var(--a13y-resizer-size) / 2));
        }
      
        &.resizer-bottom {
          cursor: ns-resize;
          height: var(--a13y-resizer-size);
          width: 100%;
          bottom: 0;
          left: 0;
          transform: translateY(calc(var(--a13y-resizer-size) / 2));
        }

        &.resizer-left {
          cursor: ew-resize;
          height: 100%;
          width: var(--a13y-resizer-size);
          top: 0;
          left: 0;
          transform: translateX(calc(var(--a13y-resizer-size) / -2));
        }
      
        &.resizer-top {
          cursor: ns-resize;
          height: var(--a13y-resizer-size);
          width: 100%;
          top: 0;
          left: 0;
          transform: translateY(calc(var(--a13y-resizer-size) / -2));
        }

    }
  }

}


.dot {
  position: absolute;
  width: 2px;
  height: 2px;
  background: red;
  bottom: 50vh;
  left: 0;
}

.dot.success {
  background: lime;
  width: 4px;
  height: 4px;
}

canvas {
  width: 100vw;
  height: 100vh;
}

// #infos {
//   background: #002266;
//   font-family: 'Courier New', Courier, monospace;
//   color: white;
//   padding: .5em;
//   border-radius: 5px;
//   font-size: 12px;
// }

#controls {

  position: fixed;
  top: 0;
  right: 0;
  background: #171924;
  font-size: 14px;
  min-width: 200px;
  max-width: 25%;
  height: 100vh;
  overflow: auto;
  font-family: Helvetica, sans-serif;
  border-left: 2px solid rgba(255, 255, 255, .1);

  & > #entity-tree {
    max-height: 33vh;
    overflow-y: auto;
    border-bottom: 2px solid rgba(255, 255, 255, .1);
    // padding: 1em;
  }
  

  #entity-tree {
      // padding-left: 1em;
    .tree-node {


      .node-content {

        .node-label {
          white-space: nowrap;
        }

        .toggle-icon {
          display: flex;
        }

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: .2em .35em;

        &.hovered {
          background: rgba(255, 255, 255, .08);
          cursor: pointer;
        }

      }

      #entity-tree {
        display: none;
      }

      &.expanded {
        .toggle-icon svg {
          transform: rotate(180deg);
        }

        #entity-tree {
          display: block
        }

      }

      .node-sublabel {
        font-family: monospace;
        margin-left: .5em;
        font-size: .75em;
        color: grey;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      
    }

  }

  input {
    background: rgba(0, 0, 0, .25);
    outline: none;
    user-select: none;
    border: 1px solid rgba(255, 255, 255, .1);
    padding: .2em .35em;
  }

}

.treeview-node .bi {
  padding: 0.5em;
}

.treeview-node {
  cursor: pointer;
  padding: 0.5em;
}
