*, *::before, *::after {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  box-sizing: border-box;
}

html, body {
  font-size: 30px;
  color: white;
}

body {
  overflow: hidden;
}